@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --info: "#7B8693";
  --main: "#FF5F13";
  --blue: "#000C20";
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .nav-link {
    @apply hover:underline hover:underline-offset-4 hover:text-main transition-colors;
  }

  .hero {
    @apply h-screen;
    background-image: url("../assets/images/hero.jpg");
  }

  .footer {
    /* @apply ; */
    background: url("../assets/images/footer.png") center center repeat-x;
  }

  .card {
    @apply bg-white rounded-lg p-6;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.07);
  }
}

.d-f {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: end;
}

.container {
  /* width: 100%; */
  /* max-width: 1200px; */
  margin: 0 auto;
  /* padding: 0 20px; */
}
